*{
    padding: 0px;
    margin: 0px;
}
header{
    background-color:#edd605;
    height: 100px;
    display: flex;
    align-items: center;
    
}

header img{
    width: 120px;
    margin-bottom:20px;
    bottom: 20px;
    height: 130px;
}
.mainimg{
    background-image: url(../../images/Vaathi/Vaathi\ about.jpg);
    background-size: 100%;
    height: 600px;
    background-repeat: no-repeat;
    opacity:80% black;
    padding-top: 60px;
    
}
.time{

    margin-left: 40px;
    background-color: black;
    width: 500px;
    height: 350px;
    border-radius: 10px;
}
.lan{
    display: flex;
}
.time h2{
    font-size: 40px;
    color: white;
    margin-left: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.time h3{
    width: 50px;
    border-radius:5px;
    margin-left:70px;
    margin-top: 20px;
    padding-left: 20px;
    background-color: #edd605;
}
.time p{
    font-size: 20px;
    margin-left: 60px;
    margin-top: 70px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.time h4{
    margin-left: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
    color:white;
    font-size: 20px;
}
.time button{
    width: 400px;
    border-radius: 10px;
    height: 50px;
    background-color: #edd605;
    margin-left: 50px;
    margin-top: 20px;
    cursor: pointer;
}
.aboutmovie h2{
    margin-left: 60px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.aboutmovie p{
    font-size: 20px;
    margin-left: 20px;
    padding-top: 20px;
    font-family: cursive;
}
hr{
    width: 1400px;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 50px;
}
.cast{
    display: flex;
}
h1{
    margin-left: 40px;
    margin-top: 50px;
}
.cast img{
    width:220px;
    height: 220px;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 200px;
}
.castname{
    display: flex;
}
.castname h2{
  padding-left: 140px;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.crew img{
    width:220px;
    height: 220px;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 200px;
}
.cast h2 {
    text-align:center;
}
.cast p{
    text-align: center;
}