#movie-form label {
    display: block;
    margin-top: 30px;
    font-weight: bold;
    width: 300px;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#movie-form input[type="submit"] {
    color: white;
    padding: 10px  20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.popup-content {
    margin-top: 100px;
    background-color: #f9f9f9;
    padding: 10px;
    height: 100%; 
    border-radius: 5px;
    width: 30%;
    margin-left: 30%;

}
.movie-form input[type="text"],[type="date"] {
    /* width: 100%; */
    padding: 10px;
    color: black;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 90%;
}

#movie-form textarea {
    height: 20px;
}

#movie-form input {
    color: black;
    padding: 10px  20px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}
.show-times{
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.button{
    display: flex;
}
#show-date {
    width:80px;
    height: 30px;
}
#show-month{
    width:80px;
    height: 30px;
}
#show-times-option{
    width:80px;
    height: 30px;
}
#show-times-option-button{
    width:70px;
    height: 30px;
    margin-left: 10px;
}
.shows{
    display: flex;
    flex-wrap:wrap;
    gap: 30px;
    margin-left: 20px;
}
.cost_seat{
    display: flex;
}
.cost_seat input{
    width: 70px;
    margin-left: 20px;
    margin-top: 10px;
    height: 20px;
}