body{
    background-color: black;
}
#movie-list{
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 35%;
    color: white;
}
.movie-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin-top: 30px;
}
.movie_img{
    width:270px;
    border-radius: 20px;
    height: 400px;
}
.movie-item h1{
    font-size: 20px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.update_delete{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 70px;
}
.update-button{
    width: 150px;
    height: 40px;
    background-color: #edde3b;
    border-radius: 10px;
}
.delete-button{
    width: 150px;
    height: 40px;
    background-color: #edde3b;
    border-radius: 10px;
}
.popup {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;

}
#movie-popup{
    display: none;
}

/* Popup content */
.popup-content {
    margin-top: 100px;
    background-color: #f9f9f9;
    padding: 10px;
    height: 100%; 
    border-radius: 5px;
    overflow: scroll;

}

/* Close button */
#closeBtn {
    position: absolute;
    top: 100px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Form fields */
#movie-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    width: 300px;
}

#movie-form input[type="text"],
#movie-form textarea {
    /* width: 100%; */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 90%;
}

#movie-form textarea {
    height: 20px;
}

#movie-form input[type="submit"] {
    color: white;
    padding: 10px  20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#movie-form input[type="submit"]:hover {
    background-color:#edde3b;
}