*{
    padding: 0px;
    margin: 0px;
}
header{
    background-color:#edd605;
    height: 100px;
    display: flex;
    align-items: center;
}
header h1{
    margin-left: 500px;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main img{
    margin-left: 280px;
}