@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');                         


*{
    margin: 0px;
    padding: 0px;
}
html{
   overflow-x: hidden; 
    font-family: 'Barlow', sans-serif;                                       
}
header{
    background-color:#edde3b;
    height: 100px;
    display: flex;
    
    flex-direction: row;    
    justify-content: space-evenly;
    align-items: center;
}

body{
    background-color: black;
    /* font-family: 'Poppins'; */
    width:100%;
}
header img{
    width: 120px;

    margin-bottom:20px;
    margin-left: 50px;
    bottom: 20px;
    height: 130px;
} 
header input {
    padding-left:50px;
    height:50px;
    background-image: url(../images/logo/search.png);
    background-size: 40px;
    background-repeat: no-repeat;
    width:35%;
    border-radius: 7px;
    margin-left: 50px;
    font-size: 18px;    
    border-color: #edde3b;
}
.buttons{
    display: flex;
}
header   a #log-in-button  {
    padding: 20px;
    padding-bottom: 30px;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color:black;
    color: white;
    font-size: 14px;
    margin-right: 10px;
    display: inline;
}
header   a #sign-in-button  {
    padding: 20px;
    padding-bottom: 30px;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    margin-right: 20px;
    background-color:black;
    color: white;
    font-size: 14px;
    display: inline;
}
header a{
    text-decoration: none;
}
 header a button:hover{
    transition: 1.3s;
    transform: scale(1.1);
}
select {
    padding: 10px;
    color: black;
    width: 8%;
    height: 100px;
    background-color:#edde3b;
    border-color:#edde3b;
    font-size: 20px;
    
}
option{
    font-size: 15px;

}
#user_name{
    background-color: #181818;
    color:#edde3b;
    width:90px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
}
#menu{
    width: 50px;
    height: 50px;
    margin-top: 25px;
    position: relative;
    right:60px;
    top: 3px;
}
.image-slider{
    width: 100%;
    height: 500px;
    margin: 50px auto;
    box-shadow: -1px 1px 10px #00000021;
    /* border-radius: 30px; */
    overflow: hidden; 
}
.image-slider figure img{
    float: left;
    width:1300px;
    padding-left: 60px;
}
.image-slider figure{
    position: relative; 
    width:460%;
    animation-name:slide;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes slide{
     0% {left: 0%;}
    15% {left: 0%;}
    20% {left: -100%;}
    35% {left: -100%;}
    40% {left: -200%;}
    60% {left: -200%;}
    65% {left: -300%;}
    70% {left: -300%;}
} 
 .various{
    background-color:white;
    width: 50%;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    margin-left: 25%;
}
.various a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    border-color:white;
    margin-top: 10px;

}
.various a:hover{
    transform: scale(1.5);
    transition: 0.5s;
    color: tomato;
}
.crud-button button{
    width:60px;
    height: 30px;
    background-color:azure;
    border-radius: 5px;
    border-color: black;

}.crud-button{
    margin-left: 130px;
}
.line hr{
    width: 1300px;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 50px;
}
.main{
    display: flex;
}
.show-button{
    display: flex;
    margin-left: 40px;
}
.show-button  button {
    margin-top: 40px;
    width:150px;
    height: 40px;
    font-size: 15px;
    color: black;
    margin-left: 20px;
    background-color:#edde3b;
    border-radius: 10px;
    padding: 10px;
}
.show-button h2{
    font-size: 25px;
    margin-left: 40px;
    margin-top: 45px;
    color: white;

}


.movie-list-container1{
    padding: 0 20px;
    width:82%;
    margin-left: 120px; 
}
.movie-list-container2{
    padding: 0 20px;
    width:82%;
    margin-left: 115px;
}
.movie-list-container3{
    padding: 0 20px;
 margin-left: 40px;
    width: 100%;
}

.movie-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 1300px;
    height: 900px;
    margin-top: 40px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
    
}
.movie-list-wrapper{
    gap:10px;
    /* position: relative;
    overflow: hidden; */
}
.movie-list-item{
    margin-right: 30px;
    position: relative;
   
}
.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    margin: 0 20px;
    opacity: 0.5;
}
.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button{
  opacity: 1;
}
.movie-list-item-img{
    width:270px;
    border-radius: 20px;
    height: 420px;
    object-fit: cover;
    transition: all 1s ease-in-out;

}
.movie-list-item-title{
    background-color: #ffffff1A;
    color:white;
    padding: 0 10px;
    font-size: 27px;
    font-weight: bold;
    position: absolute;
    top:30%;
    left:50px;
    opacity: 0;
    transition: 1s all  ease-in-out;
}
 .movie-list-item-desc{
    background-color: #ffffff1A;
    color: white;
    padding:10px;
    font-size: 14px;
    position: absolute;
    top:45%;
    left:50px;
    width:230px;
     opacity: 0;
     transition: 1s all  ease-in-out;
}
  
.movie-list-item-button{
    background-color:#edde3b;
    color:white;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom:70px;
    left:50px;
    opacity: 0;
    transition: 1s all  ease-in-out;
}
.movie-list-item-button a{
    text-decoration: none;
    color:black
}
.arrow{
    font-size: 40px;
    padding: 10px;
    position: absolute;
    top:190px;
    background-color: #181818;
    border-radius: 50px;
    right: 0;
    color:white;
    /* opacity: .8; */
    cursor: pointer;

}

.arrow2{
    font-size: 40px;
    padding: 10px;
    position: absolute;
    top:190px;
    background-color: #181818;
    border-radius: 50px;
    right: 0;
    color:white;
    /* opacity: .8; */
    cursor: pointer;

}

.watch-now{
    display: flex;
    margin-top: 50px;
    margin-left: 65px;
}
.watch-now a{
    text-decoration: none;
}
.watch-now a button {
    margin-top: 80px;
    width:150px;
    height: 40px;
    margin-left: 20px;
    font-size: 15px;
    color: black;
    background-color:#edde3b;
    border-radius: 10px;
    padding: 10px;
}
.watch-now a button:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
.watch-now h2{
    font-size: 25px;
    margin-left: 20px;
    margin-top: 85px;
    color: white;
}


.movie-list2{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    align-items: center;
    height: 500px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
    
}
.movie-list-wrapper2{
    gap:10px;
    position: relative;
    overflow: hidden;
}
.movie-list-item2{
    margin-right: 30px;
    position: relative;
   
}
.movie-list-item2:hover .movie-list-item-img2{
    transform: scale(1.2);
    margin: 0 20px;
    opacity: 0.5;
}
.movie-list-item2:hover .movie-list-item-title2,
.movie-list-item2:hover .movie-list-item-desc2,
.movie-list-item2:hover .movie-list-item-button2{
  opacity: 1;
}
.movie-list-item-img2{
    width:270px;
    border-radius: 20px;
    height: 420px;
    object-fit: cover;
    transition: all 1s ease-in-out;

}
.movie-list-item-title2{
    background-color: #ffffff1A;
    color:white;
    padding: 0 10px;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top:30%;
    left:50px;
    opacity: 0;
    transition: 1s all  ease-in-out;
}
 .movie-list-item-desc2{
    background-color: #ffffff1A;
    color: white;
    padding:10px;
    font-size: 14px;
    position: absolute;
    top:45%;
    left:50px;
    width:210px;
     opacity: 0;
     transition: 1s all  ease-in-out;
}
  
.movie-list-item-button2{
    background-color:#edde3b;
    color:white;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom:60px;
    left:50px;
    opacity: 0;
    transition: 1s all  ease-in-out;
}
.movie-list-item-button2 a{
    text-decoration: none;
    color:black
}



.watch-now2{
    display: flex;
    margin-left: 65px;
}
.watch-now2 a{
    text-decoration: none;
}
.watch-now2 a button {
    margin-top: 80px;
    width:150px;
    height: 40px;
    margin-left: 20px;
    font-size: 15px;
    color: black;
    background-color:#edde3b;
    border-radius: 10px;
    padding: 10px;
}
.watch-now2 a button:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
.watch-now2 h2{
    font-size: 25px;
    margin-left: 20px;
    margin-top: 85px;
    color: white;
}
/* 
.movie-list3{
    display: flex;
    align-items: center;
    height: 420px;
    margin-top: 70px;
    margin-left: 25px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
    
}
.movie-list-wrapper3{
    gap:10px;
    position: relative;
    overflow: hidden;
}
.movie-list-item3{
    margin-right: 30px;
    position: relative;
   
}
.movie-list-item3:hover .movie-list-item-img3{
    transform: scale(1.2);
    margin: 0 20px;
    opacity: 0.5;
}
.movie-list-item3:hover .movie-list-item-title3,
.movie-list-item3:hover .movie-list-item-desc3,
.movie-list-item3:hover .movie-list-item-button3{
  opacity: 1;
}
.movie-list-item-img3{
    width:237px;
    border-radius: 20px;
    height: 400px;
    object-fit: cover;
    transition: all 1s ease-in-out;

}
.movie-list-item-title3{
    background-color: #ffffff1A;
    color:white;
    padding: 0 10px;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top:30%;
    left:50px;
    opacity: 0;
    transition: 1s all  ease-in-out;
}
 .movie-list-item-desc3{
    background-color: #ffffff1A;
    color: white;
    padding:10px;
    font-size: 14px;
    position: absolute;
    top:45%;
    left:50px;
    width:210px;
     opacity: 0;
     transition: 1s all  ease-in-out;
}
  
.movie-list-item-button3{
    background-color:#edde3b;
    color:white;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom:40px;
    left:50px;
    opacity: 0;
    transition: 1s all  ease-in-out;
}
.movie-list-item-button3 a{
    text-decoration: none;
    color:black
}
 */

footer{
    background-color:#edde3b ;
    margin-top: 10px;
}
footer img{
    width: 150px;
    margin:0px auto;
    display: block;
}
.logos{
  display: flex;
  justify-content: center;

}
.logos img{
    width:50px;
    height:50px;
    margin:0px 20px;
}


#logo2:hover{
    background-color: whitesmoke;
    transform: scale(1.1);
}
#logo1{
    padding: 10px;
    border-radius: 10px;
}
#logo2{
    padding: 10px;
    border-radius: 10px;
}
.about_copy_right p{
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

@media (max-width:768px) {

    header{
        width:100%;
        display: flex;
    }
    header img{
        width:70px;
        height: 70px;
    }
    .movies #img1{
        width:230px;
        height:300px;
    }
    .movies{
        gap: 30px;
        overflow: hidden;
        overflow-x: scroll;
    }
    .dubmovies #img1{
        gap: 30px;
        width:230px;
        height:300px;
    }
    header input{
        width:60px;
        height: 45px;
         margin: 0px;
         font-size: 20px;
         text-align: start;
    }
    select{
          font-size:10px;
          width: 22%;
    }
    a button{
        width:60px;
        height: 15px;
        padding-right: 9px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 10px;
    }
    .various a{
        width:60%;
        margin-bottom: 200px;
        text-align: center;
    }
    .image-slider{
        width:90%;
        height: 260px;
    }
    .image-slider figure img {
        width:440px
    }
    .image-slider figure {
        width:600%;
        background-repeat: no-repeat;
    }
    .now button{
        font-size: 18px;
    }
    .now h2 {
        font-size: 20px;
    }
    footer #logo1{
         width:120px;
    }
    footer #logo2{
        width:20px;
        height: 30px;
    }
}




.main{
    background-color: black;
    width:30%;
    height: 890px;
    /* display: none; */
    transform: translateX(-500px);
    
}
.content{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin-left: 60px;
    
}
.hide{
    /* animation-name: move; */
    transform: translateX(0px);
    transition: 3s;
    
}
@keyframes move {
    0%{transform: translateX(-500px);}
    100%{transform: translateX(0px);}
    
}
.content h3{
    color:white;
}
.content h3:hover{
    color: yellow;
}