@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Island+Moments&family=Londrina+Solid:wght@300&family=Oswald&family=PT+Sans+Narrow&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Island+Moments&family=Londrina+Solid:wght@300&family=Oswald&family=PT+Sans+Narrow&family=Roboto+Condensed:wght@300&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color:#edd605;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
body{
    background-color: black;
}
header img{
    width: 120px;
    margin-bottom:20px;
    margin-left: 60px;
    bottom: 20px;
    height: 130px;
} 
header input {
    padding-left:50px;
    height:50px;
    background-image: url(../images/logo/search.png);
    background-size: 50px;
    background-repeat: no-repeat;
    width:50%;
    border-radius: 10px;
    margin-left: 50px;
    font-size: 18px;    
}

a  button {
    padding: 20px;
    width: 100px;
    height: 60px;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    background-color:black;
    color: white;
    font-size: 15px;
    display: inline;
}
a button:hover{
    transition: 1.3s;
    transform: scale(1.1);
}
select {
    padding: 10px;
    color: black;
    width: 10%;
    height: 100px;
    background-color:#edd605;
    border-color:#edd605;
    font-size: 20px;
    
}
option{
    font-size: 15px;

}
#menu{
    width: 50px;
    height: 50px;
    margin-top: 25px;
}
.image-slider{
    width: 80%;
    height: 500px;
    margin: 50px auto;
    box-shadow: -1px 1px 10px #00000021;
    border-radius: 30px;
    overflow: hidden; 
}
.image-slider figure img{
    float: left;
    width:1150px;
    border-radius: 10px;
}
.image-slider figure{
     position: relative; 
    width:450%;
    animation-name:slide;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes slide{
     0% {left: 0%;}
    15% {left: 0%;}
    20% {left: -100%;}
    35% {left: -100%;}
    40% {left: -200%;}
    60% {left: -200%;}
    65% {left: -300%;}
    70% {left: -300%;}
} 
 .various{
    background-color:white;
    width: 50%;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    margin-left: 25%;
}
.various a{
    text-decoration: none;
    color:black;
    border-color:white;
    margin-top: 10px;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Island Moments', cursive;
    font-family: 'Londrina Solid', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;  
    
}
.various a:hover{
    transform: scale(1.5);
    transition: 0.5s;
    color: tomato;
}
.line hr{
    width: 1300px;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 50px;
}
.main{
    display: flex;
}

.now  button {
    margin-top: 30px;
    font-size: 25px;
    margin-left: 20px;
    background-color:#fdee21;
    border-radius: 20px;
    padding: 5px;
}
.now h2{
    font-size: 25px;
    margin-left: 20px;
    margin-top: 30px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.movies a{
    padding-top:0px;
}
.movies{
    display: flex;  
    gap: 10px;
    justify-content: space-between; 
    overflow: hidden;
    overflow-x: scroll;
    width: 90%;
    padding: 50px;
    padding-bottom: 20px;
    
    

}
.movies #img1{
    width: 250px;
    height: 380px;
    border-radius: 10px;
    margin-top: 60px;
    /* padding-left: 20px; */
    transition: 0.5s;
    border: 2px solid white;
}
.movies #img1:hover{
    transform: scale(1.1);
}

.movies::-webkit-scrollbar{
    display: none;
}

.movies2{
    display: flex;  
    gap: 10px;
    justify-content: space-between; 
    overflow: hidden;
    overflow-x: scroll;
    width: 90%;
    padding: 50px;
    padding-bottom: 20px;
   
  
}
.movies2::-webkit-scrollbar{
    display: none;
}


.movies2 #img1{
    width: 250px;
    height: 380px;
    border-radius: 10px;
    margin-top: 60px;
    transition: 0.5s;
    border: 2px solid white;
}
.movies2 #img1:hover{
    transform: scale(1.1);
}


.mname{
    display: flex;
    justify-content: space-around;
}
.dubmovies{
    display: flex;  
    justify-content: space-between; 
    overflow: hidden;
    overflow-x: scroll;
    gap:10px;
    width: 90%;
    padding: 50px;
   
}
.dubmovies::-webkit-scrollbar{
    display: none;
}

.dubmovies #img1{
    width: 250px;
    height: 380px;
    border-radius: 10px;
    margin-top: 60px;
    border: 2px solid white;
    transition: 0.5s;
}
.dubmovies #img1:hover{
    transform: scale(1.1);
}
footer{
    background-color:#edd605 ;
    margin-top: 160px;
}
footer >img{
    width: 150px;
    margin:0px auto;
    display: block;
}
.logos{
  display: flex;
  justify-content: center;

}
.logos img{
    width:50px;
    height:50px;
    margin:0px 20px;
}

/* #logo1:hover{
    background-color:whitesmoke;
    transform: scale(1.1);
} */

#logo2:hover{
    background-color: whitesmoke;
    transform: scale(1.1);
}
#logo1{
    padding: 10px;
    border-radius: 10px;
}
#logo2{
    padding: 10px;
    border-radius: 10px;
}



@media (max-width:768px) {

    header{
        width:100%;
        display: flex;
    }
    header img{
        width:70px;
        height: 70px;
    }
    .movies #img1{
        width:230px;
        height:300px;
    }
    .movies{
        gap: 30px;
        overflow: hidden;
        overflow-x: scroll;
    }
    .dubmovies #img1{
        gap: 30px;
        width:230px;
        height:300px;
    }
    header input{
        width:60px;
        height: 45px;
         margin: 0px;
         font-size: 20px;
         text-align: start;
    }
    select{
          font-size:10px;
          width: 22%;
    }
    a button{
        width:60px;
        height: 15px;
        padding-right: 9px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 10px;
    }
    .various a{
        width:60%;
        margin-bottom: 200px;
        text-align: center;
    }
    .image-slider{
        width:90%;
        height: 260px;
    }
    .image-slider figure img {
        width:440px
    }
    .image-slider figure {
        width:600%;
        background-repeat: no-repeat;
    }
    .now button{
        font-size: 18px;
    }
    .now h2 {
        font-size: 20px;
    }
    footer #logo1{
         width:120px;
    }
    footer #logo2{
        width:20px;
        height: 30px;
    }
}




.main{
    background-color: black;
    width:30%;
    height: 890px;
    /* display: none; */
    transform: translateX(-500px);
    
}
.content{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin-left: 60px;
    
}
.hide{
    /* animation-name: move; */
    transform: translateX(0px);
    transition: 3s;
    
}
@keyframes move {
    0%{transform: translateX(-500px);}
    100%{transform: translateX(0px);}
    
}
.content h3{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.content h3:hover{
    color: yellow;
}