@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Island+Moments&family=Londrina+Solid:wght@300&family=Oswald&family=PT+Sans+Narrow&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Island+Moments&family=Londrina+Solid:wght@300&family=Oswald&family=PT+Sans+Narrow&family=Roboto+Condensed:wght@300&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
html{
   overflow-x: hidden; */
    width:80%
}
header{
    background-color:#edd605;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
body{
    background-color: black;
}
header img{
    width: 120px;
    margin-bottom:20px;
    margin-left: 60px;
    bottom: 20px;
    height: 130px;
} 
header input {
    padding-left:50px;
    height:50px;
    background-image: url(../images/logo/search.png);
    background-size: 50px;
    background-repeat: no-repeat;
    width:50%;
    border-radius: 10px;
    margin-left: 50px;
    font-size: 18px;    
}

a  button {
    padding: 20px;
    width: 100px;
    height: 60px;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    background-color:black;
    color: white;
    font-size: 15px;
    display: inline;
}
 header a button:hover{
    transition: 1.3s;
    transform: scale(1.1);
}
select {
    padding: 10px;
    color: black;
    width: 10%;
    height: 100px;
    background-color:#edd605;
    border-color:#edd605;
    font-size: 20px;
    
}
option{
    font-size: 15px;

}
#menu{
    width: 50px;
    height: 50px;
    margin-top: 25px;
}
.image-slider{
    width: 80%;
    height: 500px;
    margin: 50px auto;
    box-shadow: -1px 1px 10px #00000021;
    border-radius: 30px;
    overflow: hidden; 
}
.image-slider figure img{
    float: left;
    width:1190px;
    border-radius: 10px;
}
.image-slider figure{
     position: relative; 
    width:450%;
    animation-name:slide;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes slide{
     0% {left: 0%;}
    15% {left: 0%;}
    20% {left: -100%;}
    35% {left: -100%;}
    40% {left: -200%;}
    60% {left: -200%;}
    65% {left: -300%;}
    70% {left: -300%;}
} 
 .various{
    background-color:white;
    width: 50%;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    margin-left: 25%;
}
.various a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    border-color:white;
    margin-top: 10px;
    font-family: 'Barlow Condensed', sans-serif;
}
.various a:hover{
    transform: scale(1.5);
    transition: 0.5s;
    color: tomato;
}
.line hr{
    width: 1300px;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 50px;
}
.main{
    display: flex;
}
.show-button{
    display: flex;
}
.show-button  button {
    margin-top: 40px;
    width:150px;
    height: 40px;
    font-size: 15px;
    color: black;
    margin-left: 20px;
    background-color:#fdee21;
    border-radius: 10px;
    padding: 10px;
}
.show-button h2{
    font-size: 25px;
    margin-left: 40px;
    margin-top: 45px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.now{
    display: flex;
}
.now a{
    text-decoration: none;
}
.now a button {
    margin-top: 80px;
    width:150px;
    height: 40px;
    margin-left: 20px;
    font-size: 15px;
    color: black;
    background-color:#fdee21;
    border-radius: 10px;
    padding: 10px;
}
.now a button:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
.now h2{
    font-size: 25px;
    margin-left: 20px;
    margin-top: 85px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.movie-list-container1{
    padding: 0 20px;
}
.movie-list-container2{
    padding: 0 20px;
}
.movie-list-container3{
    padding: 0 20px;
}

.movie-list{
    display: flex;
    align-items: center;
    height: 420px;
    margin-top: 40px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
    
}
.movie-list-wrapper{
    gap:10px;
    position: relative;
    overflow: hidden;
}
.movie-list-item{
    margin-right: 30px;
    position: relative;
   
}
.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    margin: 0 20px;
    opacity: 0.5;
}
.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button{
  opacity: 1;
}
.movie-list-item-img{
    width:270px;
    border-radius: 20px;
    height: 420px;
    object-fit: cover;
    transition: all 1s ease-in-out;

}
.movie-list-item-title{
    background-color: #ffffff1A;
    color:white;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Asap Condensed', sans-serif;
    position: absolute;
    top:30%;
    left:50px;
    opacity: 0;
    transition: 1s all  ease-in-out;
}
 .movie-list-item-desc{
    background-color: #ffffff1A;
    color: white;
    padding:10px;
    font-size: 14px;
    position: absolute;
    top:45%;
    font-family: 'Catamaran', sans-serif;
    left:50px;
    width:230px;
     opacity: 0;
     transition: 1s all  ease-in-out;
}
  
.movie-list-item-button{
    background-color:#edd605;
    color:white;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom:70px;
    left:50px;
    opacity: 0;
    transition: 1s all  ease-in-out;
}
.movie-list-item-button a{
    text-decoration: none;
    color:black
}
.arrow{
    font-size: 120px;
    position: absolute;
    top:90px;
    right: 0;
    color: red;
    opacity: .5;
    cursor: pointer;

}

.movie-list2{
    display: flex;
    margin-top: 80px;
    align-items: center;
    height: 420px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
    
}
.movie-list-wrapper2{
    gap:10px;
    position: relative;
    overflow: hidden;
}
.movie-list-item2{
    margin-right: 30px;
    position: relative;
   
}
.movie-list-item2:hover .movie-list-item-img2{
    transform: scale(1.2);
    margin: 0 20px;
    opacity: 0.5;
}
.movie-list-item2:hover .movie-list-item-title2,
.movie-list-item2:hover .movie-list-item-desc2,
.movie-list-item2:hover .movie-list-item-button2{
  opacity: 1;
}
.movie-list-item-img2{
    width:270px;
    border-radius: 20px;
    height: 420px;
    object-fit: cover;
    transition: all 1s ease-in-out;

}
.movie-list-item-title2{
    background-color: #333;
    color:white;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Asap Condensed', sans-serif;
    position: absolute;
    top:30%;
    left:50px;
    opacity: 0;
    transition: 1s all  ease-in-out;
}
 .movie-list-item-desc2{
    background-color: #333;
    color: white;
    padding:10px;
    font-size: 14px;
    position: absolute;
    top:45%;
    font-family: 'Catamaran', sans-serif;
    left:50px;
    width:230px;
     opacity: 0;
     transition: 1s all  ease-in-out;
}
  
.movie-list-item-button2{
    background-color:#edd605;
    color:white;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom:70px;
    left:50px;
    opacity: 0;
    transition: 1s all  ease-in-out;
}
.movie-list-item-button2 a{
    text-decoration: none;
    color:black
}

.movie-list3{
    display: flex;
    align-items: center;
    height: 420px;
    margin-top: 70px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
    
}
.movie-list-wrapper3{
    gap:10px;
    position: relative;
    overflow: hidden;
}
.movie-list-item3{
    margin-right: 30px;
    position: relative;
   
}
.movie-list-item3:hover .movie-list-item-img3{
    transform: scale(1.2);
    margin: 0 20px;
    opacity: 0.5;
}
.movie-list-item3:hover .movie-list-item-title3,
.movie-list-item3:hover .movie-list-item-desc3,
.movie-list-item3:hover .movie-list-item-button3{
  opacity: 1;
}
.movie-list-item-img3{
    width:270px;
    border-radius: 20px;
    height: 420px;
    object-fit: cover;
    transition: all 1s ease-in-out;

}
.movie-list-item-title3{
    background-color: #333;
    color:white;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Asap Condensed', sans-serif;
    position: absolute;
    top:30%;
    left:50px;
    opacity: 0;
    transition: 1s all  ease-in-out;
}
 .movie-list-item-desc3{
    background-color: #333;
    color: white;
    padding:10px;
    font-size: 14px;
    position: absolute;
    top:45%;
    font-family: 'Catamaran', sans-serif;
    left:50px;
    width:230px;
     opacity: 0;
     transition: 1s all  ease-in-out;
}
  
.movie-list-item-button3{
    background-color:#edd605;
    color:white;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom:70px;
    left:50px;
    opacity: 0;
    transition: 1s all  ease-in-out;
}


footer{
    background-color:#edd605 ;
    margin-top: 160px;
}
footer >img{
    width: 150px;
    margin:0px auto;
    display: block;
}
.logos{
  display: flex;
  justify-content: center;

}
.logos img{
    width:50px;
    height:50px;
    margin:0px 20px;
}


#logo2:hover{
    background-color: whitesmoke;
    transform: scale(1.1);
}
#logo1{
    padding: 10px;
    border-radius: 10px;
}
#logo2{
    padding: 10px;
    border-radius: 10px;
}



@media (max-width:768px) {

    header{
        width:100%;
        display: flex;
    }
    header img{
        width:70px;
        height: 70px;
    }
    .movies #img1{
        width:230px;
        height:300px;
    }
    .movies{
        gap: 30px;
        overflow: hidden;
        overflow-x: scroll;
    }
    .dubmovies #img1{
        gap: 30px;
        width:230px;
        height:300px;
    }
    header input{
        width:60px;
        height: 45px;
         margin: 0px;
         font-size: 20px;
         text-align: start;
    }
    select{
          font-size:10px;
          width: 22%;
    }
    a button{
        width:60px;
        height: 15px;
        padding-right: 9px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 10px;
    }
    .various a{
        width:60%;
        margin-bottom: 200px;
        text-align: center;
    }
    .image-slider{
        width:90%;
        height: 260px;
    }
    .image-slider figure img {
        width:440px
    }
    .image-slider figure {
        width:600%;
        background-repeat: no-repeat;
    }
    .now button{
        font-size: 18px;
    }
    .now h2 {
        font-size: 20px;
    }
    footer #logo1{
         width:120px;
    }
    footer #logo2{
        width:20px;
        height: 30px;
    }
}




.main{
    background-color: black;
    width:30%;
    height: 890px;
    /* display: none; */
    transform: translateX(-500px);
    
}
.content{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin-left: 60px;
    
}
.hide{
    /* animation-name: move; */
    transform: translateX(0px);
    transition: 3s;
    
}
@keyframes move {
    0%{transform: translateX(-500px);}
    100%{transform: translateX(0px);}
    
}
.content h3{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.content h3:hover{
    color: yellow;
}