@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');
*{box-sizing: border-box;}
html,body{
    height: 100%;
}
body{
    margin: 0;
    display: grid;
    place-items:center;
    background: #1a1a1a;
    color:#f9f9f9;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.email{
    position: relative;
}
.main h1{
    font-family: 'Andika', sans-serif;
   margin: 10px auto;
}
.main h2{
    font-family: 'Andika', sans-serif;
    margin: 10px auto;
    text-align: center;
}
.email input {
    width:100%;
    height: 70px;
    margin: 30px auto;
    border-radius: 30px;
    background: #3b3b40;
    border: 0;
    padding-left: 126px;
    font-size: 16px;
    font-family: inherit;
    color:rgb(255,255,255/96%);
    transition: 0.3s;
}
.email label{
    position: absolute;
    display: grid;
    place-items: center;
    transform-origin: 0% 0%;
    pointer-events: none;
    top:4px;
    margin-top: 30px;
    left:4px;
    height: 52px;
    width:110px;
    border-radius: 27px;
    background:#edd605;
    color:black;
    transition: 0.3s;
}
.email input::placeholder {
    color:rgb(255,255,255 / 50%);
}
.email
:is(input:focus,  input:valid) {
    padding-left:20px;
}

.email
:is(input:focus, input:valid)
~  label {
    translate: 0 -54px;
    scale:0.825;
}
.check{
 display: flex;
 margin:10px auto;
 justify-content: center;
}
button{
    padding: 10px;
    background-color: #edd605;
    width: 100px;
    border-radius: 20px;
    margin-left: 200px;
    font-size: 15px;
    font-family: inherit;
}
button:hover{
    transition: 0.2s;
    transform: scale(1.1);
}
a{
    color:white;
    text-decoration: none;
}
a:hover{
    color:black;
}