@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
    /* font-family: 'Barlow', sans-serif;                                       */
*{
    padding: 0px;
    margin: 0px;
}
html{
    font-family: 'Barlow', sans-serif;                                      
}
header{
    background-color:#edde3b;
    height: 80px;
    display: flex;
    align-items: center;
}

header img{
    width: 110px;
    margin-bottom:20px;
    margin-left: 70px;
    bottom: 20px;
    height: 110px;
}
header input {
    padding-left:50px;
    height:50px;
    background-image: url(../images/logo/search.png);
    background-size: 50px;
    background-repeat: no-repeat;
    width:50%;
    border-radius: 10px;
    margin-left: 180px;
    font-size: 18px;    
}
#menu{
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-left: 300px;
}
 .mainimg{
    background:linear-gradient(to bottom, rgba(0,0,0,0), #151515 ); 
    background-size: 100%;
    height: 500px;
    background-repeat: no-repeat;
    opacity:80% black;
    padding-top: 50px;
    
} 
.time{
    margin-left: 40px;
    background-color: black;
    width: 500px;
    height: 400px;
    border-radius: 10px;    
}
.lan{
    display: flex;
}
.time h2{
    font-size: 40px;
    color: white;
    margin-left: 60px;
}
.time h3{
    width: 50px;
    border-radius:5px;
    margin-left:70px;
    margin-top: 20px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #edde3b;
}
.time p{
    font-size: 20px;
    margin-left: 60px;
    margin-top: 70px;
    color: white;
}
.time h4{
    margin-left: 60px;
    margin-top: 50px;
    color:white;
    font-size: 20px;
}
.time_date{
    display: flex;
}
.time button{
    width: 270px;
    border-radius: 10px;
    height: 55px;
    background-color: #edde3b;
    margin-left: 80px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
}

/* .button_a {
    background-color: #edde3b;
    width: 300px;
    height: 80px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 20px;
    color:black;
    margin-left: 20px;
    margin-top: 20px;
} */
.aboutmovie h2{
    margin-left: 60px;
    font-size: 30px;
    color:white;
}
.aboutmovie p{
    font-size: 20px;
    margin-left: 20px;
    padding-top: 20px;
    color: white;
}
hr{
    width: 1400px;
    border: 1px solid white;
    margin-top: 40px;
    margin-left: 50px;
}
.cast_crew{
    background-color: #151515;
    display: flex;
    flex-direction: column;
}

.cast_head{
    color: white;
    margin-left: 30px;
    margin-top: 30px;
}
.cast-main-dev{
    display: flex;
    margin-top: 30px;
    gap:20px;
    margin-left: 60px;
}
.cast_div img{
    width: 150px;
    height: 150px;
    border-radius: 200px;
}
.cast_div h2{
    text-align: center;
    align-items: center;
}
.cast_div h4{
    text-align: center;
}
.crew_head{
    color: white;
    margin-left: 30px;
    margin-top: 20px;
}
.crew-main-dev{
    display: flex;
    margin-top: 30px;
    gap:20px;
    margin-left: 60px;
}
.crew_div img{
    width: 150px;
    height: 150px;
    border-radius: 200px;
}
.crew_div h2{
    text-align: center;
    color: white;
}
.crew_div h4{
    color: white;
    text-align: center;
}
/* .cast{
     display: flex;  
} */

/* .casteh img{
    width:150px;
    height: 150px;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 200px;
}

.casteh h2{
    text-align: center;
    color:white;

  font-size: 17px;
}
.casteh p{
    
    font-size: 14px;
    color:red;
}
.cast_head h1{
    color: white;
    margin-left: 50px;

    margin-top: 20px;
}
.crew_head h1{
    color: white;
    margin-left: 50px;
    margin-top: 20px;
}
/* .casteh h2{
    color:white;
}
.casteh p{
     color:white;
}  */
/* .cast h2{
    color:white;
    text-align: center;
} */

/* .creweh h2{
    text-align: center;
    color: white;
    font-size: 17px;
}
.cast p{
    color:white;
    text-align: center;
}
.crew{
    display: flex;
}
.crew p{
    color:white;
    text-align: center;
}

.creweh img{
    width:150px;
    height: 150px;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 200px;
}  */
.content {
     background-color: black; 
     
}
iframe{
    margin-top: 100px;
}
.cast{
    color: white;
}
@media (max-width:768px){

.time{
    width:200px;
    height: 180px;
}
.time h2 {
    font-size: 20px;
}
}