@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

*{
    margin: 0;
}
body{
    background-color: #151515;
}
.navbar{
     width:100%;
     height: 50px;
     background-color:black;
}
input{
    padding: 10px;
    background-color: black;
    border-color: white;
    width:250px;
    margin-right: 100px;
}
.logo-container img{
    width:200px;
}
.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
}
.logo-container{
  flex: 1;
}
.logo-container img{
    margin-top: 20px;
}
.menu-container{
    flex:2;
    background-color:black;
}
.menu-list{
    display: flex;
    list-style: none;
}
.menu-list-item{
    margin-right: 20px;
    color:white;
    font-family: 'Catamaran', sans-serif;
}
/* .profile-container{
    flex:1;  
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.profile-text-container{
    margin: 0 10px;
    color:white;
    font-family: 'Asap Condensed', sans-serif;
}
.profile-picture{
    width:40px;
    height: 42px;
    border-radius: 50%;
} */

/* .toggle{
    width:40px;
    margin-left: 10px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.toggle-icon{
    color:goldenrod;
}
.toggle-ball{
  width:18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right:1px;
  border-radius: 50%;
  cursor: pointer;
} */
.sidebar{
    width:50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top:0;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}
.left-menu-icon {
    color:white;
    display: flex;
    font-size: 20px;
    padding-left: 10px;
    flex-direction: column;
     margin-bottom: 80px;
}
.container-main{
    background-color: #151515;
    min-width: none;height: calc(100vh - 50px);
    color:white;
}
.content-container{
    margin-left: 50px;
}
.banner-container{
    background:linear-gradient(to bottom, rgba(0,0,0,0), #151515 ) ,url('https://s01.sgp1.digitaloceanspaces.com/large/898601-jltidzntcv-1537778848.jpg');
    background-repeat: no-repeat;
    width: ;
    height:600px;
    padding: 80px;
}
.banner-title{
    width:250px;

}
.banner-desc{
    width:500px;
    color:lightgray;
    margin: 30px 0;
    font-family: 'Catamaran', sans-serif;
}
.banner-button{
    color:black;
    background-color: #edd605;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
}
.movie-list-head{
    color:white;
    font-family: 'Asap Condensed', sans-serif;
    margin-left: 20px;
}

.movie-list-container1{
    padding: 0 20px;

}
.movie-list{
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
    
}
.movie-list-wrapper{
    gap:10px;
    position: relative;
    overflow: hidden;
}
.movie-list-item{
    margin-right: 30px;
    position: relative;
   
}
.movie-list-item:hover .movie-list-item-img{
      transform: scale(1.2);
      margin: 0 20px;
      opacity: 0.5;
}
.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button{
    opacity: 1;
}
.movie-list-item-img{
    width:270px;
    border-radius: 20px;
    height: 200px;
    object-fit: cover;
    transition: all 1s ease-in-out;

}
.movie-list-item-title{
    background-color: #333;
    color:white;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Asap Condensed', sans-serif;
    position: absolute;
    top:10%;
    left:50px;
    opacity: 0;
    transition: 1s all  ease-in-out;
}
 .movie-list-item-desc{
    background-color: #333;
    color: white;
    padding:10px;
    font-size: 14px;
    position: absolute;
    top:30%;
    font-family: 'Catamaran', sans-serif;
    left:50px;
    width:230px;
     opacity: 0;
     transition: 1s all  ease-in-out;
}
  
.movie-list-item-button{
    background-color:#edd605;
    color:white;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom:4px;
    left:50px;
    opacity: 0;
    transition: 1s all  ease-in-out;
}
.arrow{
    font-size: 120px;
    position: absolute;
    top:90px;
    right: 0;
    color: gray;
    opacity: .5;
    cursor: pointer;

}
