@import url('https://fonts.googleapis.com/css2?family=Puritan:ital@1&display=swap');
*{ 
    margin: 0px;
}
body{
    background-color:black;
    width:100%
}
header{
    background-color:#edd605;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0px;
    position:sticky;
}

header img{
    width: 120px;
    margin-bottom:20px;
    bottom: 20px;
    height: 130px;
}
.banner h1{
    font-family: 'Puritan', sans-serif;
    color:white;
}
.moviename> h2{
    padding-left: 10px;
    margin-top: 7px;

}
.main{
    display: flex;
    justify-content: space-around;
    margin: 30px;

}
.payment{
    /* background-color: black; */
    background: linear-gradient(rgb(92,92, 92, 0.7), rgb(92, 92, 92, 0.7)), url(../images/logo/moneybackground.jpeg);
    /* background-repeat: no-repeat; */
     /* background-size: cover;  */
    width: 800px;
    border-radius: 10px;
    height:2100px ;
    margin-top: 30px;
}
.payment >h1{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 200px;
}
.payment >h2{
    font-family: sans-serif;
    margin-left: 50px;
    font-size: 25px;
    position: relative;
    top:20px; 
}
.credit{
    background-color:darkgray;
    width: 270px;
    margin-left: 6%;
    margin-top: 5%;
    padding: 4%;
}
.credit .input1{
    padding: 7%;
    margin-top: 3%;
    margin-left: 10px;
}
.credit h3{
    font-family:sans-serif;
    margin-left: 10px;
}
.cvv{
    display: flex;
    margin-top: 20%;
}
.cvv .input1{
    width:25px;
    height: 10px;
    margin-right: 10px;
    margin-top: 10%;
    position: relative;
    right:30px; 
}
.cvv >p{
 position: relative;
left:25px; 
    
}
.cvv .input2{
    width:50px;
    height: 40px;
    margin-top: 11%;
     position: relative;
    right:20px;  
    
}
.credit button{
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    width:250px;
    background-color: #edd605;
    border-color: #edd605;
    border-radius: 10px;
}

.netbank{
    background-color:darkgray;
    width: 650px;
    height: 300px;
    margin-left: 6%;
    margin-top: 5%;
    padding: 4%;
}
.netbank >h3{
    font-family: sans-serif;
    margin-left: 20px;
    font-size: 25px;
}
.netbank >p{
    font-family: sans-serif;
    margin-top: 10px;
    margin-left: 20px;
}
.banks1{
    display: flex;
    justify-content:space-evenly;
}
.banks1 .bankimg1 img{
    width:150px;
}
.banks2{
    display: flex;
    justify-content: space-evenly;
}
.banks2 .bankimg2 img{
    width:100px;
    height: 40px;
    
}
.banks1 .bankimg1{
    display: flex;
}
.banks1 .bankimg2{
    display: flex;
}

 .netbank button{
    padding: 10px;
    margin-top: 30px;
    margin-left: 150px;
    width:280px;
    background-color: #edd605;
    border-color: #edd605;
    border-radius: 10px;
}
.upibank{
    background-color:darkgray;
    width: 650px;
    height: 300px;
    margin-left: 6%;
    margin-top: 5%;
    padding: 4%;
    
}
.upi1{
    display: flex;
    justify-content:space-between
}
.upi2{
    display:flex;
    justify-content: space-evenly;
}
.paytm{
    display: flex;
}
.gpay{
    display: flex;
    margin-top: 30px;
}
#g-pay{
    margin-bottom: 30px;
}
.amazon{
    display: flex;
}


.phonepe{
    display: flex;
}
.bhim{
    display: flex;
    align-items: center;
}
.amazon img{
    width:120px
}
.img1{
    width:100px;
    height: 50px;
}
.img2{
    width:700px;
}
.img3{
    width:100px;
}
.img4{
    width:100px;
    height: 50px;
}
.img5{
    width:80px;
} 
.upibank button{
    padding: 10px;
    margin-top: 50px;
    margin-left: 200px;
    height: 40px;
    width:250px;
    background-color: #edd605;
    border-color: #edd605;
    border-radius: 10px;
}

.upigive{
    background-color:darkgray;
    width: 650px;
    height: 650px;
    margin-left: 6%;
    margin-top: 5%;
    padding: 4%;
    
}

/* .phone {
    margin-left: 180px;
    margin-top: 20px;
    margin-top: 40px;
} */
.phone h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-right: 20px;
    margin-left: 130px;
}
.phone input{
    font-size: 20px;
    width:250px;
    margin-left: 180px;
    height: 30px;
    padding: 10px;
    margin-top: 20px;
}

.phone button{
    width:150px;
    margin-top: 25px;
    height: 50px;
    margin-left: 240px;
    border-radius: 10px;
    background-color: #edd605;
    border-color: #edd605;
}
.upigive h3{
    margin-left: 300px;
    margin-top: 40px;
}
.upigive img{
    width:230px;
    margin-left: 200px;
    margin-top: 90px;
}
.cab >p{
    position: relative;
    bottom: 120px; 
    font-size: 23px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 90px;
}
.cab{
    margin-top: 30px;
    background-color: #edd605;
    width: 400px;
    height: 100px;
    padding-left: 40px;
    border-radius: 20px;
}
.cab h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.cab button{
    padding: 7px;
    font-size: 20px;
    width: 150px;
    margin-left: 100px;
    background-color:white;
    border-radius: 10px;
}
.cab button:hover{
    transition: 0.4s;
    transform: scale(1.2);
}
.ticket{
    background-image: url(../images/logo/yellowticket-.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 750px;
    margin-top: 100px;
    border-radius: 10px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    padding: 100px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
.tickettotal ,.cabtotal ,.total{
    display: flex;
    justify-content:space-between ;
    width: 75%;
} 


.ticket button:hover{
    transform: scale(1.1);
    transition: 0.3s;
}