body{
    background-image: linear-gradient(rgb(4,9,30,0.7),rgb(4,9,30,0.7)),url(../images/logo/profile_banner.jpg);
    /* mix-blend-mode: darken; */
}

.container{
    display: flex;
    justify-content: space-evenly;
}
.user-logo{
    font-size: 120px;
    margin-left: 150px;
    margin-top: 50px;
    color:white;
}
#name{
    color:white;
}
.content1{
    background-color: #181818;
    width:28%;
    height: 500px;
    margin-top: 170px;
    border-radius: 10px;

}
.user-img{
    margin-left: 150px;
    margin-top: 10px;
    font-size: 25px;
    color:white;
}
.head{
    display: flex;
    width:300px;
    justify-content:flex-start;
}
.main1{
    background-color:#181818;
    width:90%;
    height: 200px;
    margin-left: 10%;
    margin-top: 100px;
    border-radius: 10px;
    
}
#name{
    background-color: #181818;
    border-color:#181818;
    margin-left: 10px;
    font-family:'Courier New', Courier, monospace;
    color:white;
    width:100px;

    font-size: 20px;
    margin-top: 10px;
}
.main{
    display: flex;
    gap: 80px;
    margin-top: 40px;
}
.main h3{
    color:#d2d2d2;
    font-family:sans-serif;
    font-size: 18px;
}
.email p{
    font-size: 18px;
    border: none;
    color: #d2d2d2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.password p{
    font-size: 18px;
    border: none;
    color: #d2d2d2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.email{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-left: 100px;
}
.password{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
}
.password input{
    margin-left: 20px;
    
}
#email{
    width: 200px;
    height: 20px;
    margin-left: 20px;
}
.main2{
    background-color:#181818;
    width:70%;
    height: 400px;
    margin-left: 10%;
    padding-left: 200px;
    margin-top: 100px;
    border-radius: 10px;
}
.main2 h1{
    color:#d2d2d2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.personal-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.personal-detail h3{
    color:#d2d2d2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.personal-detail input{
    height: 40px;
    border-radius: 10px;
    width:300px;
    margin-right:200px;
}
.gender{
    display: flex;
    justify-content:space-between;
    margin-right: 380px;
    gap: 20px;
}
.edit #edit {
    background-color: #edd605;
    color:black;
    padding: 10px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 50px;
    width:100px;
    font-size: 20px;
    border-radius: 10px;
}
.edit #save{
    background-color: #edd605;
    color:black;
    margin-left: 20px;
    border-color: #181818;
    padding: 10px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 28px;
    text-align: center;
    width:70px;
    font-size: 20px;
    border-radius: 10px;
}
#edit:hover{
    transform: scale(1.1);
    transition: 1.2s;
}
#save:hover{
    transform: scale(1.1);
    transition: 1.2s;
}
.edit{
    display: flex;
    margin-left: 150px;
    
}