@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body{
    background-image: linear-gradient(rgb(4,9,30,0.7),rgb(4,9,30,0.7)),url(../images/logo/profile_banner.jpg);
    /* mix-blend-mode: darken; */
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color:#edd605;
    height: 100px;
}
header img{
    width: 120px;
    height: 130px;
    align-items: center;
   position:relative;
   bottom: 20px;
} 
.setting-option{
    background-color: black;
    width:80%;
    margin-left: 150px;
    height: 50px;
}
.setting-option ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color:#d2d2d2;
    padding-top: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.setting-option ul li:hover{
   color:#edd605;
   transform: scale(1.1);
   transition: 0.3s;
}
.main1{
    background-color:#181818;
    width:80%;
    height: 200px;
    margin-left: 10%;
    margin-top: 100px;
    border-radius: 10px;
    
}
.user-img{
    margin-left: 150px;
    margin-top: 10px;
    font-size: 25px;
    color:white;
}
.name-user{
    display: flex;
    width:300px;
    justify-content: flex-start;
}
.logout{
    margin-left: 250%;
}
#logout{
    width:100px;
    height: 30px;
    color:#d2d2d2;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    border-style: none;
    margin-top: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:#181818 ;
}
#name{
    background-color: #181818;
    border-color:#181818;
    margin-left: 10px;
    font-family:'Courier New', Courier, monospace;
    color:white;
    width:100px;
    font-size: 20px;
    margin-top: 10px;
}
.email-num form{
    display: flex;
    gap: 40px;
    margin-top: 40px;
}
.email h3{
    font-size: 18px;
    border: none;
    color: #d2d2d2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.phone-num h3{
    font-size: 18px;
    border: none;
    color: #d2d2d2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.email{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-left: 100px;
}
.phone-num{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
}
.phone-num input{
    margin-left: 20px;
    background-color: #181818;
    border-style: none;
    font-size: 15px;
    color: #d2d2d2;
    font-family: 'Nunito Sans', sans-serif;
}
#email{
    width: 200px;
    height: 20px;
    margin-left: 20px;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
}
.whatsapp-msg{
    display: flex;
    gap: 5px;
    margin-left: 40px;
}
.whatsapp-msg h3{
    font-family: 'Nunito Sans', sans-serif;
    color:#d2d2d2 ;
}
.edit{
    margin-top: 30px;
}

.edit #edit {
    background-color: #edd605;
    color:black;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 35px;
    width:70px;
    font-size: 20px;
    border-radius: 10px;
}
.edit #save{
    background-color: #edd605;
    color:black;
    margin-left: 20px;
    border-color: #181818;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 33px;
    text-align: center;
    width:65px;
    font-size: 20px;
    border-radius: 10px;
}
#edit:hover{
    transform: scale(1.1);
    transition: 1.2s;
}
#save:hover{
    transform: scale(1.1);
    transition: 1.2s;
}
.edit{
    display: flex;
    margin-left: 150px;
    
}
.content-all{
   background-color:#181818;
   width:80%;
   height: 500px;
   margin-left: 150px;
}
.Home-a-tag a,h4{
    color: aliceblue;
    text-decoration: none;
    margin-left: 90%;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
    bottom: 10px;
}

