
@import url('https://fonts.googleapis.com/css2?family=Mohave&display=swap');
*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: black;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.banner h1{
    font-family: 'Mohave', sans-serif;
    color:#edd605;
}
.theatre_time_date{
    display:flex;
    gap: 10px;
}
.theatre_name h2{
  color:white;
  font-family: 'Mohave', sans-serif;
}
.movie_date h2{
  color:white;
  font-family: 'Mohave', sans-serif;
}
.show_time h2{
  color:white;
  font-family: 'Mohave', sans-serif;
}
.screen{
    display: flex;
    align-items: center;
    margin-left: 40%;
    margin-top: 20px;
}
#screen-arrow-logo{
    width:30px;
    margin-left: 40px;
}
/* .screen img{
    width:30px;
    margin-left: ;
} */
.screen h3{
    color:white;
    margin-left: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.seat_disclaimer{
    display: flex;
    gap: 20px;
    margin-left: 39%;
    margin-top: 20px;
}
.seat_selected{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.seat_selected p{
    background-color: #edd605;
    color: black;
    border:1px solid #edd605;
    font-family: 'Puritan', sans-serif;
    width:25px;
    text-decoration: none;
    text-align: center;
}
.seat_selected h5{
    color:white;
 
    text-align: center;
    font-family: 'Puritan', sans-serif;
    align-items: center;
}
.seat-unavailable{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.seat-unavailable p{
    background-color:grey;
    color: black;
    border:1px solid grey;
    font-family: 'Puritan', sans-serif;
    width:25px;
    text-decoration: none;
    text-align: center;
}
.seat-unavailable h5{
    color: white;
    font-family: 'Puritan', sans-serif;
}
.seat-available{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.seat-available p{
    background-color:black;
    color:#edd605;
    border: 1px solid white;
    font-family: 'Puritan', sans-serif;
    width:25px;
    text-decoration: none;
    text-align: center;
}
.seat-available h5{
    color: white;
    font-family: 'Puritan', sans-serif;
}
.seatcost-budget{
    color:white;
    font-size: 12px;
    margin-top: 40px;
    margin-left: 45%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.seat-budget{
    background-color: #444451;
    height: 22px;
    width: 25px;
    margin: 3px;
    border-top-left-radius: 10px;
    margin-top: 15px;
    border-top-right-radius: 10px;
}
.seatbudget-row{
    display: flex;
    margin-left: 38%;
}
.seat-prime{
    background-color: #444451;
    height: 22px;
    width: 25px;
    margin-top: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.seatprime-row{
    display: flex;
    margin-left: 33%;
}
.seatcost-prime{
    color:white;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 48%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.seat-prime-occupied{
    background-color: #fff;
    height: 22px;
    width: 25px;
    margin-top: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.total_seatandcost{
    background-color: #ffffff;
    width: 60%;
    height: 60px;
    margin-top: 40px;
    margin-left: 18%;
}
h3{
    color: white;
    margin-right:20px ;
}
/* .seatbudget{
    display: flex;
    gap:10px;
    margin-left: 35%;
    margin-top: 25px;
}
.seatbudget h3{
    color:white;
    margin-top: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.seatbudget a {
    border: 1px solid white;
    color: #edd605;
    width:30px;
    height: 40px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-family: 'Puritan', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

/* .seatbudget2{
    display: flex;
    gap:10px;
    margin-left: 33%;
    margin-top: 25px;
}
.seatbudget2 h3{
    color:white;
    margin-top: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.seatbudget2 a {
    border: 1px solid white;
    color: #edd605;
    width:30px;
    height: 40px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-family: 'Puritan', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */


