*{
    padding: 0px;
    margin: 0px;
}
header{
    background-color:#edd605;
    height: 100px;
    display: flex;
    align-items: center;
}

header img{
    width: 120px;
    margin-bottom:20px;
    bottom: 20px;
    height: 130px;
}
/* .main{
    background-color: black;
    width:50%;
    margin-left: 25%;
    height: 700px;
    margin-top: 50px;
    border-radius: 10px;
} */
.main{
    background-image: url(../images/logo/settingslogo-.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 600px;
    height: 240px;
    margin-top: 100px;
    border-radius: 10px;
    margin-left: 380px;
    padding: 45px 50px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}
.profile  h2{
    color:white;
    text-decoration: none;
    border: 2px  black solid;
    width: 250px;
    background-color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    padding: 8px;
    padding-left: 70px;
    margin-top: 5px;
    margin-right: 40px;
}
.profile a{
    text-decoration: none;
}
.profile :hover{
    transform: scale(1.1);
    transition: 0.2s;
}
a button{
    padding: 10px;
    background-color: #edd605;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 60%;
    margin-top: 1%;
    cursor: pointer;
}

