@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');   
*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: 'Barlow', sans-serif;                                       
}
header{

    background-color:#edd605;
    height: 100px;
}
header img{
    width: 120px;
    height: 130px;
    align-items: center;
   position:relative;
   bottom: 20px;
} 
body{
    background-color: black;
    color: aliceblue;
}
.main-content{
    background-color: #181818;
    width:80%;
    margin-left: 150px;
    height: 1100px;
}
.location-div{
    display: flex;
    padding-top: 30px;
}
.location-div img{
    width:30px;
    height: 30px;
}
.location-div h3{
    color:white;
}
.show-days{
    display: flex;
}
.show_days_div {
    padding: 30px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
#hr-head{
    width:100%;
    color: white;
}
.show-days-div:hover{
    background-color: #333333;
}
#day1_shows{
    display:block;
}
#day2_shows{
    display: none;
}
#day3_shows{
    display: none;
}
#day4_shows{
    display: none;
}
#day5_shows{
    display: none;
}
#day6_shows{
    display: none;
}
#day7_shows{
    display: none;
}
.show_det{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 60px;
    margin-top: 20px;
    height: 100px;
}
#theatre_showtime{
    display: flex;
    gap: 30px;
}
#theatre_showtime p{
    border: 1px solid white;
    font-size: 18px;
    height: 20px;
    color:#edd605;
    background-color: rgba(21, 19, 10, 255);
    border: 1px solid rgba(21, 19, 10, 255);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
hr{
    color: white;
 border: 1px solid white;
}