@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Puritan:ital@1&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:white;
}
header{
    background-color:#edd605;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0px;
}

header img{
    width: 120px;
    margin-bottom:20px;
    bottom: 20px;
    height: 130px;
}
 .banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 30px;
    padding-bottom: 20px;
}
.banner h1{
    font-family: 'Puritan', sans-serif;
    color:#edd605;
    font-size:50px;
}
.banner h3{
    font-family:'Puritan', sans-serif;
    color:white;
    font-size: 30px;
}
.main{
    background-color: black;
    height:100%;
     padding-top: 50px; 
} 
.theatre{
    padding-top: 20px;
}
.theatremain{
    display: flex;
    justify-content:space-between;
}
.icon img{
    width:30px;
    height: 30px;
}
.theatre h2{
    color:white;
    margin-left: 50px;
    font-family: 'Archivo Narrow', sans-serif;
}
.theatre h3{
    color:#60665e;
    font-family: 'Archivo Narrow', sans-serif;
    margin-left: 60px;
}
.time{
    display: flex;
    gap:20px;
    margin-left: 50px;
    margin-top: 30px;
}
.time a,p{
    text-decoration: none;
    color:#edd605;
    background-color: rgba(21,19,10,255);
    border:1px solid rgba(21,19,10,255);
    padding: 8px;
    border-radius:10px;
}
.time p:hover{
    transform: scale(1.2);
    transition: 1.1s;
}

hr{
    border:1px solid white;
    width:95%;
    margin-left: 3%;
    margin-top: 40px;
}

@media (max-width:768px){

    header img{
        width:90px;
        height:90px;
    }
    header{
        width:123%;
    }

    .banner{
        background-repeat: no-repeat;
        width:115%;
        height: 180px;
    }
    .banner h1{
        display: block;
        margin-bottom: 10px;
        margin-right: 20px;
        font-size: 30px;
    }
    .banner h3{
        font-size: 20px;
    }
    .main{
       width:123%;
    }
    .time{
      margin-left: 20px;
    }
} 