*{ 
    margin: 0px;
}
body{
    background-color:white;
}
header{
    background-color:#edd605;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0px;
}

header img{
    width: 120px;
    margin-bottom:20px;
    bottom: 20px;
    height: 130px;
}
.main{

    background-image: url(../../images/cab/cab.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 900px;
    padding-top: 10%;

}
.cab{
    padding-top: 10px;
    background-color:white;
    width: 30%;
    margin-left: 3%;
    height: 50%;
    border-radius: 10px;
    
}
.cab h1{
    margin-left: 30%;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cab p{
    background-color: #f6f6f6;
    width:150px;
    height: 30px;
    font-family:sans-serif;
    padding: 10px;
    margin-left: 100px;
    margin-top: 50px;
}
.cab h3{
    margin-left: 70px;
    position: relative;
    top:50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pickup{
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
}
.pickup input{
    padding: 10px;
    background-color: #f6f6f6;
}
.pickup input:hover{
    transition:0.5s;
    transform: scale(1.2);
}

.cab button{
    margin-top: 80px;
    padding: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color: #edd605;
    width:300px;
    border-radius: 5px;
    margin-left: 100px;
}
.cab button:hover{
    transition:0.5s;
    transform: scale(1.3);
}
