*{ 
    margin: 0px;
}
body{
    background-color:white;
}
header{
    background-color:#edd605;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0px;
}

header img{
    width: 120px;
    margin-bottom:20px;
    bottom: 20px;
    height: 130px;
}

.moviename{
   color: white;
   background-color: black;
   width: 70%;
   border-radius: 20px;
   margin-left: 15%;
   margin-top: 20px;
   height: 170px;
   font-size: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.name1{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.name2{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.moviename h2{
    padding-left: 10px;
    margin-top: 7px;
}
.seat1{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
.seat1 img{
    width:50px;
    transition: 0.5s;
    -webkit-backdrop-filter:#edd605;
}
.seat1 img:hover{
    transform: scale(1.3);
}
.allseat{
    background-color: black;
    width: 800px;
    margin-left: 350px;
    border-radius: 20px;
    margin-top: 50px;
    padding: 2px;
    
}
select {
    margin-right: 100px;
    border-radius: 20px;
    padding: 10px;
    color: white;
    background-color: black;
    width: 200px;
    height: 100px;
    font-size: 20px;
    border: none;
}
