*{ 
    margin: 0px;
}
body{
    background-color:white;
}
header{
    background-color:#edd605;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0px;
}

header img{
    width: 120px;
    margin-bottom:20px;
    bottom: 20px;
    height: 130px;
}
.moviename{
    display: flex;
    align-items:center;
    justify-content: center;
   color: white;
   background-color: black;
   width: 70%;
   border-radius: 20px;
   margin-left: 15%;
   margin-top: 20px;
   height: 100px;
   font-size: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.moviename h2{
    padding-left: 10px;
    margin-top: 7px;

}
.main{
    display: flex;
    justify-content: space-around;
}
.payment{
    background-color: black;
    background: linear-gradient(rgb(92,92, 92, 0.7), rgb(92, 92, 92, 0.7)), url(../../images/logo/moneybackground.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    border-radius: 20px;
    height: 1000px;
    margin-top: 30px;
}
.payment h1{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 200px;
}

.cab p{
    position: relative;
    bottom: 120px;
    font-size: 23px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 90px;
}

.main{
    margin: 30px;
}
.main{
    display: flex;
    justify-content:space-between;
}
.cab{
     margin-top: 30px;
}
.cab h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cab button{
    padding: 7px;
    font-size: 20px;
    width: 150px;
    margin-left: 150px;
    background-color: #edd605;
    border-radius: 10px;
}
.ticket{
    background-image: url(../../images/logo/ticketlogo.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 800px;
    margin-top: 100px;
    border-radius: 10px;
    margin-right: 50px;
}